* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --highlight-color: #ff6600;
  --fore-color: rgba(255, 102, 0, 0.3);
  --text-color: #fafafa;
  --background-color: #1a1a1a;

  --topbar-height: 75px;
}

::selection {
  background-color: var(--fore-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Space Grotesk", sans-serif;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  border-bottom: 2px solid var(--text-color);
}

.nav-bar .email a {
  font-size: 1.2rem;
  color: var(--text-color);
  text-decoration: underline;
}

.nav-bar .email a:hover {
  color: var(--highlight-color);
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2rem;
}

.nav-links a:hover {
  text-decoration: underline;
  color: var(--highlight-color);
}

.nav-link-separator {
  border: none;
  width: 2px;
  height: var(--topbar-height);
  background-color: var(--text-color);
  margin: -3px 30px;
  transform: rotate(-25deg);
  transform-origin: center; /* Optional: Adjusts the point around which the element is rotated */
}

.hero-page {
  height: calc(
    100vh - var(--topbar-height) + 4px
  ); /* 4px for nav bar bottom line */
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.left-section img {
  width: 300px;
  height: auto;
}

#container {
}

.right-section {
  width: 470px;
  /* text-align: justify;
  text-justify:distribute; */
  letter-spacing: 0.3rem;
}

.right-section .greeting {
  font-size: 5rem;
  color: var(--highlight-color);
  font-weight: 700;
}

.orange-line {
  border: none;
  height: 4px;
  background-color: var(--highlight-color);
  margin: 20px 0;
}

.right-section h1 {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-top: 20px;
  font-weight: 400;
}

.hero-page-bottom {
  text-align: center;
  padding-bottom: 20px;
  font-size: 0.9rem;
  color: var(--text-color);
}

.hero-page-bottom .mouse-icon {
  width: 20px;
  height: 30px;
  border: 2px solid var(--text-color);
  border-radius: 20px;
  margin: 10px auto;
  position: relative;
}

.hero-page-bottom .mouse-icon::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 5px;
  background-color: var(--text-color);
  animation: scroll 3s infinite;
}

@keyframes scroll {
  0% {
    top: 5px;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 5px;
  }
}

h1 span {
  text-decoration: underline;
  font-weight: 700;
}

h1 span:hover {
  background: linear-gradient(
    270deg,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  background-size: 500% 500%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  animation: gradientShift 3s linear infinite; /* Adjust timing as needed */
}

@keyframes gradientShift {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.about {
  height: 500px;
  background-color: red;
}
